body{
    background: black;
    
}

.container{
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote , .author{
    font-size: 2rem;
    background : linear-gradient(to right , #d3cce3, aqua , #e9e4f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 3rem;
}
